<!Doctype hmtl>
<hmtl>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    </head>

  <body>

    <header>
      <p>Advicer!</p>
    </header>
    
    <div class="expl">
      <p>"Welcome to the best site of advices!"</p>  
    </div>

    <div class="container">
      <a href="/advice">
        <button>Let's go!</button>
      </a>
    </div>

  </body>
</hmtl>
